@model IEnumerable<MMIS_Customer.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stores</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th>
            Description
        </th>
        <th>
            Open from
        </th>
        <th>
            Closes at
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseTime)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.StoreID })
        </td>
    </tr>
}

</table>
